.container1 {
    border: 1px solid #000000; 
    background-color: #f0f0f0; 
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    width: 100%; 
    max-width: 700px; 
    margin: 0 auto;
    padding: 70px; 
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        }
        
        /* Style form inputs */
        input[type="password"] {
        width: 300px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        }
        
        /* Style the submit button */
        input[type="submit"] {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
        
        /* Style the submit button on hover */
        input[type="submit"]:hover {
        background-color: #0056b3;
        }
        
        h2 {
            text-align: center;
        }